.courseCard {
	background-color: #1e293b;
	border-radius: 0.5rem;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
}

.courseImage {
	height: 150px;
	background-color: #4338ca;
	border-radius: 0.5rem;
	margin-bottom: 1rem;
}

.courseDescription {
	margin-bottom: 1rem;
}

.courseLink {
	margin-top: auto;
	display: inline-block;
	background-color: #60a5fa;
	color: #0f172a;
	text-decoration: none;
	padding: 0.5rem 1rem;
	border-radius: 9999px;
	font-weight: bold;
	text-align: center;
}
